.DS_Store
modules/.DS_Store
modules/dynamo/.DS_Store
modules/ec2/.terraform/*
modules/ec2/.terraform/*
modules/elb/.terraform/*
modules/vpc/.terraform/*
modules/vpc/.terraform/*

#all terraform files
./terraform
